/* CSS CREADO POR JOSE ANTONIO BOIX */
/* CSS ULTIMA MODIFICACIÓN 21/4/2020 */

/* CSS DEL HEADER */

header {
    padding: 50px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* CSS DEL NAV */

.navbar {
    overflow: hidden;
    background-color: #333;
}
  
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
  
.navbar a.derecha {
    float: right;
}
 
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* CSS DEL MAIN */

article {
    display: flex;
    flex-wrap: wrap;
}
  
div.fondo {
    border: black 3px solid;
    margin: 2px;
    background-color: lightgray;
}
  
article p {
    margin: 0;
    padding: 5px;
}
  
p.parrafo {
    padding: 5px 0;
    background-color: grey;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
  
p.parrafo2 {
    text-align: justify;
    font-size: 125%;
}

p.parrafo3 {
    text-align: center;
}

article.uno div.fondo {
    width: 24.2%;
}

article.dos div.fondo {
    width: 49%;
}

article.tres div.fondo {
    width: 100%;
}

p.centrado {
    text-align: center;
}

table {
    text-align: left;
    font-size: 125%;
}
  
/* CSS DEL FOOTER */

footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}

